body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 460px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 10px;
  display: block;
  block-size: 228px;
  
  
}

.title {
  background: #e3f4ff;
  font-size: 18px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 15px;
  font-size: 18px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px 0px;
 text-align: center;
 font-size: 18px;
  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  width: 150px;
  height: 40px;
  margin-left: 140px;
  font-size: medium;
}